*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 185px);
  grid-gap: 8px;
}

.gallery_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_img_1 {
  border-radius: 10px 0 0 10px;
}

.gallery_item_2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery_item_3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery_img_3 {
  border-radius: 0 10px 0 0;
}

.gallery_item_4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery_item_5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}

.btn {
  background-color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  color: 626262;
  font-weight: 545;
  cursor: pointer;
}

.gallery_img_5 {
  border-radius: 0 0 10px 0;
}
